* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
@font-face {
	font-family: Heebo;
	src: url('../fonts/Heebo.ttf');
}

body{
    font-family: Heebo;
    font-size: 15px;

}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-end;
    grid-area: encabezado;
}


.baner{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)), url("../images/laboratorio.jpg");
    color: white;
    flex-wrap: nowrap;
}

.noticias{
    background-color: #FF5959;
    font-weight: bolder;
}


.tecnologia{
    display: flex;
    flex-direction: column;
    height: 300px;
    grid-area: tecnologia;
}

.tecnologia h2{
    background-color: #FF5959;
}


/*Aqui comienza el footer */
.pie{
    background-color: #EEF2FF;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: nowrap;
    align-items: center;
    height: 200px;
    grid-area: pie;
}
.pie_texto{
    display: flex;
    flex-direction: column;
}


.formulario{
    grid-area: formulario;
    display: flex;
justify-content: center;


}
.direccion{
    grid-area: direccion;
    text-align:left;
    margin-top: 50px;
   
}


@media screen and (max-width: 368px){

.grilla2{
    display: grid;
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"encabezado encabezado"
                        "direccion direccion"
                        "formulario formulario"
                        "pie pie";
}

.baner{
    display: none;
}
iframe{
    height: 200px;
    width: 200px;
}

}