* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
@font-face {
	font-family: Heebo;
	src: url('../fonts/Heebo.ttf');
}

body{
    font-family: Heebo;
    font-size: 15px;

}

.baner{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)), url("../images/laboratorio.jpg");
    color: white;
    flex-wrap: nowrap;
}

.noticias{
    background-color: #FF5959;
    font-weight: bolder;
}


.tecnologia{
    display: flex;
    flex-direction: column;
    height: 300px;
}

.tecnologia h2{
    background-color: #FF5959;
}


/*Aqui comienza el footer */
.pie{
    background-color: #EEF2FF;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: nowrap;
    align-items: center;
    height: 200px;
}
.pie_texto{
    display: flex;
    flex-direction: column;
}


.formulario{
    grid-area: formulario;
    display: flex;
justify-content: center;


}
.direccion{
    grid-area: direccion;
    text-align:left;
    margin-top: 50px;
   
}
