.pie{
    background-color: $colorprimario;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: nowrap;
    align-items: center;
    height: 200px;
}
.pie_texto{
    display: flex;
    flex-direction: column;
}